/*file css*/

body {
    background-color: antiquewhite;
}

main {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 64px;
    padding-bottom: 64px;
    
}

section {
    padding: 16px;
    margin: 0 0 15px 0;
}

.mainheader {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bolder;
}

.mainsection {
    background-color: beige;
    border-radius: 10px;
}

.celcius {
    background-color: aquamarine;
    border-radius: 10px;  
}

.fahrenheit {
    background-color: lightgreen;
    border-radius: 10px;  
}

.carakalkulasi {
    background-color: cadetblue;
    border-radius: 10px;
}

.equation {
    background-color: lightseagreen;
    border-radius: 10px;
}

textarea {
    width: 750px; height: 100px;
    border: 2px solid;
    border-color: brown;
    border-radius: 15px;
    resize: none;
    
}

button {
    size: 15px;
    padding: 8px;
    margin-right: 5px;
    border-radius: 10px;
}

#convert {
    background-color: greenyellow;
}

#reset {
    background-color: lightcoral;
}

#reverse {
    background-color: lightsteelblue;
}

#equation {
    font-style: italic;
    font-size: 25px;
    font-weight: bolder;
}

sub {
    font-style: normal;
}

.eq {
    font-style: normal;
}

#ftoc {
    display: none;
}